NODE_ENV=development
PORT=3005
DATABASE_URL=postgresql://user:password@localhost:5432/khelo_auth
JWT_SECRET=your_super_secret_jwt_access_key_min_32_chars
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key_min_32_chars
GOOGLE_CLIENT_ID=your_google_client_id
COOKIE_SECRET=your_super_secret_cookie_key_min_32_chars
